/* palette de couleurs
#585858
#7E7E7E
#A3A3A3
#CACACA
#F0F0F0
*/

/* pour la couleur du fond de la page (on peut la voir quand il n'y a pas assez de tâches dans une section) */
/* problème : ça oblige à définir les couleurs de fond de tous les éléments */
{
/*-fx-background-color: linear-gradient(to bottom, #FF0018, #FFA52C, #FFFF41, #008018, #0000F9, #86007D);*/
/*-fx-background-color: #CACACA;*/
    -fx-background-color: #A3A3A3
;

}


.BPTop_BarreAction {
    /* je sais pas si ça va être utile mais on sait jamais */
}

.BTRight_Archivage {
    /* je sais pas si ça va être utile mais on sait jamais */
}

.BPCenter_VueCentrale {
    /* je sais pas si ça va être utile mais on sait jamais */
}

.conteneurPrincipal {
    /* je sais pas si ça va être utile mais on sait jamais */
}

.entete * {
    -fx-background-color: #CACACA;
}

.entete {
    -fx-background-color: #7E7E7E;
}

.vueTableau * {
    -fx-background-color: #CACACA;
}

.vueTableau {
    -fx-background-color: #CACACA;
}

.nomAppli {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: #7E7E7E; /* le même que le fond de l'entête */

    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.nomAppli:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.actionButton {
    -fx-border-color: #F0F0F0;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: #7E7E7E;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
}

.actionButton:hover {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #585858;
}

.choixVue {
    -fx-border-color: #F0F0F0;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: #7E7E7E;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
}

.choixVue .context-menu {
    -fx-background-color: #CACACA;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #F0F0F0;
    -fx-border-radius: 5px;
    -fx-pref-width: 102px;
}

.choixVue .menu-item {
    -fx-background-color: #CACACA;
    -fx-text-fill: #585858;
    -fx-background-radius: 5px;
}

.section {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 10px;
}

.section.hovered {
    -fx-border-color: blue;
    -fx-border-width: 1;
}

.nomSection {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-color: #F0F0F0; /* même couleur que le contour de la section */
}

.fond_titre_section {
    -fx-background-color: #F0F0F0; /* même couleur que le contour de la section */
}

.modifier-button {
    -fx-background-color: #A3A3A3;
    -fx-background-radius: 5px;
    -fx-text-fill: #F0F0F0;
}

.modifier-button:hover {
    -fx-background-color: #7E7E7E;
}

.vueTableau {
    -fx-background-color: #CACACA;
}

.containerSections {
    -fx-background-color: #CACACA;
}

.vueTache { /* TitlePane */
    /* à mettre de la même couleur que le fond des sections */
    -fx-background-color: #CACACA;
    -fx-border-color: #CACACA;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.vueTache.dragging {
    -fx-border-color: #2cea2c;
    -fx-border-width: 4;
}

.vueTache.drag-over {
    -fx-border-color: lightblue;
    -fx-border-width: 4;
}

.titled-pane .title {
    -fx-background-color: #CACACA;
}

.titled-pane .title .arrow-button .arrow {
    -fx-background-color: black;
}

.titled-pane > .content {
    /* à mettre de la même couleur que le font de la descpription des tâche (.contenuTache) */
    -fx-background-color: #F0F0F0;
    /* à mettre avec comme pour la tâche en entière (.vueTache) */
    -fx-background-radius: 10px;
    -fx-border-width: 0px;
}

.titreTache {
    -fx-background-color: #CACACA;
}

.enteteTache {
    -fx-background-color: #CACACA;
}

.contenuTache {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}

.sousTachesBox {
    -fx-background-color: #F0F0F0;
}

.descriptionLabel {
    -fx-background-color: #F0F0F0;
}

.scroll-bar {
    -fx-padding: 2px;
}

.scroll-bar .thumb {
    -fx-background-color: #7E7E7E;
}

.scroll-bar .decrement-button {
    -fx-background-color: #A3A3A3;
    -fx-padding: 3px;
    -fx-background-radius: 2px;
}

.ScrollPaneArchivage * {
    -fx-background-color: #A3A3A3; /* Couleur de fond de la piste */
}

/* Archivage */

.archivage {
    -fx-background-color: #A3A3A3;
    -fx-border-width: 3px;
    -fx-border-color: #7E7E7E;
}

.archivage * {
    -fx-background-color: #A3A3A3;
}


.ScrollPaneArchivage * {
    -fx-background-color: #A3A3A3;
}

.listeElementArchive {
    -fx-background-color: #A3A3A3;
}

.listeElementArchive * {
    -fx-background-color: #A3A3A3;
}

.boutonsTachesSection {
    -fx-background-color: #CACACA;
}

.BtnTacheSelected {
    -fx-background-color: #A3A3A3;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
    -fx-padding: 10 10 10 10;
    -fx-pref-width: 194px;
    -fx-background-radius: 0 5 0 0;
}

.BtnTacheNotSelected {
    -fx-background-color: #CACACA;
    -fx-padding: 10 10 10 10;
    -fx-pref-width: 150px;
    -fx-text-fill: #585858;
    -fx-font-weight: bold;
}

.BtnSectionSelected {
    -fx-background-color: #A3A3A3;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
    -fx-padding: 10 10 10 10;
    -fx-pref-width: 194px;
    -fx-background-radius: 5 0 0 0;
}

.BtnSectionNotSelected {
    -fx-background-color: #CACACA;
    -fx-padding: 10 10 10 10;
    -fx-pref-width: 150px;
    -fx-text-fill: #585858;
    -fx-font-weight: bold;
}

.tacheEtBoutons {
    -fx-background-color: #CACACA;
    -fx-background-radius: 5px;
}

/*-fx-background-color: black;*/

. conteneurBoutons {
    -fx-background-color: #CACACA;
}

.btnElementArchive {
    -fx-background-color: #7E7E7E;
    -fx-font-weight: bold;
    -fx-text-fill: #F0F0F0;
}

.btnElementArchive:hover {
    -fx-background-color: #A3A3A3;
}

.texteBox {
    -fx-background-color: #CACACA;
    -fx-pref-width: 190px;
    -fx-pref-height: 55px;
    -fx-border-color: #7E7E7E;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.titreTacheArchivee {
    -fx-text-fill: #585858;
    -fx-font-weight: bold;
    -fx-background-color: #CACACA;
}

.descriptionTacheAbregee {
    -fx-text-fill: #585858;
    -fx-font-weight: bold;
    -fx-background-color: #CACACA;
}

.checkboxSelectionTacheGantt {

    -fx-border-color: #585858;

    -fx-padding: 1 1 1 1;
}

.checkboxSelectionTacheGantt:selected .box {
    -fx-background-color: #585858;
}

.checkboxSelectionTacheGantt .box {
    -fx-background-color: #CACACA;
}

.boutonGenererGantt {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.containerSelectionTacheGantt {
    -fx-padding: 0.5em;
    -fx-spacing: 0.5em;
    -fx-border-color: #585858;
    -fx-border-width: 1px;
}

.labelSelectionTacheSectionGantt {

    -fx-text-fill: green;
}

.labelSelectionTacheTitreGantt {
    -fx-font-size: 1.5em;
    -fx-text-fill: yellow;

}

.gridSelectionGantt {
    -fx-background-color: blue;
}


.titreTacheGantt {
    -fx-text-fill: green;
}

.dateTacheGantt {
    -fx-text-fill: red;
}

.stackPaneTacheGantt {
    -fx-background-color: red;

    -fx-background-radius: 0.5em 0.5em 0.5em 0.5em;
}

.gridGantt {

    -fx-background-color: #CACACA;
}
