/* palette de couleurs
#00334A
#007FA9
#82CFD8
#9CD2D5
#F0F0F0
*/

{
    /*-fx-background-color: blue;*/
}

/* Créer Tâche et Modifier Tâche */

.VBoxFormulaire{
    -fx-background-color: #9CD2D5;
    /*
    -fx-border-width: 3px;
    -fx-border-color: #007FA9;
    -fx-border-radius: 6px;
    */
}

.titreChamp{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.champTexteTache{
    -fx-background-color: #F0F0F0;
    -fx-border-color: #007FA9;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

.comboBox{
    -fx-background-color: #F0F0F0;
}

.conteneurDates{
    -fx-background-color: #9CD2D5;
}

.datePicker{
    /*-fx-background-color: purple;*/
    -fx-border-width: 2px;
    -fx-border-color: #007FA9;
    -fx-border-radius: 5px;
}

.conteneurDependances{
    -fx-background-color: #9CD2D5;
}

.Btn{
    -fx-background-color: #0097c7;
}

.listeTachesAvant{
    -fx-background-color: #F0F0F0;
}

.alert{
    -fx-background-color: red;
}